/*
        Name: pelican-palustra
        Based upon: Smashing HTML5, sample layout for HTML5 and CSS3 goodness.
        Date: 2009-2020
        Description: Pelican website CSS for vektorrascheln.de
        Version: 1.0
        License: MIT <http://opensource.org/licenses/MIT>
        Licensed by: Smashing Media GmbH <http://www.smashingmagazine.com/>
        Original author: Enrique Ramírez <http://enrique-ramirez.com/>
        Later authors: Maren Hachmann <https://vektorrascheln.de/>
*/

/* Imports */
@import url("pygment.min.css");

/*
        Name: Reset Stylesheet
        Description: Resets browser's default CSS
        Author: Eric Meyer
        Author URI: http://meyerweb.com/eric/tools/css/reset/
*/

/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        background: transparent;
        border: 0;
        font-size: 100%;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
}

body {line-height: 1;}

ol, ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}

/* remember to define focus styles! */
:focus {
        outline: 0;
}

/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table {
        border-collapse: collapse;
        border-spacing: 0;
}

/* Main CSS */

@font-face {
    font-family: 'LavoirSmallCaps';
    src: url('../fonts/LavoirSmallCaps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlexBrushRegular';
    src: url('../fonts/AlexBrushRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url('../fonts/NotoSansNormal400.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('../fonts/NotoSansNormal700.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'), url('../fonts/NotoSansItalic400.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url('../fonts/NotoSansItalic700.woff2') format('woff2');
}

/***** Global *****/
/* Body */
body {
    background: #499841;
    background-image: url('../images/decoration/stripes.png');
    color: #000305;
    font-size: 100%; /*Base font size: 16px */
    font-family: 'Noto Sans', 'Droid Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.5em}
h3 {font-size: 1.375em}
h4 {font-size: 1.25em}
h5 {font-size: 1.125em}
h6 {font-size: 1em}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
        letter-spacing: -0.03em;
}

h3, h4, h5, h6 { margin-top: .8em; }

hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}

a.imagelink, a.imagelink:hover {
    background: transparent;
    position: relative;
    display: block;
    cursor: zoom-in;
}

a.imagelink.playable, a.imagelink.playable:hover {
    cursor: pointer;
}

a:link, a:visited {
	color: #C74350;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #C74350;
	color: #fff;
	text-decoration: none;
}

a.permalink {
        color: rgba(0,0,0,0);
}

a.permalink:hover {
        background: none;
        color: inherit;
}

/* Keyboard keys */
kbd {
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #fff inset;
    color: #242729;
    display: inline-block;
    font-size: 11px;
    line-height: 1.4;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;}

/* Paragraphs */
div.line-block,
p { margin-top: 1em;
    margin-bottom: 1em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	list-style: outside disc;
}

ol {
	list-style: outside decimal;
}

li { margin-top: 0.5em;}

/* Buttons */
button, a.button, a.button:visited, a.button:link {
      border-radius: 8px;
      box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
      font-size: 1em;
      background: #eee;
      padding: 3px 8px;
      border: none;
      color: #000305;
      text-decoration: none;
}

button:hover, a.button:hover, a.button:active {box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.3); cursor: pointer; color: ##000305; text-decoration: none;}

/* noscript warning */
noscript { color: #c74350; font-style: italic; font-weight: bold; clear: both; }

/* Forms */

fieldset {
      border: 2px solid #EEE;
      border-radius: 10px;
      padding: 20px;
/*      display: inline-block;*/
/*      margin: 2em;*/
}

.textareaplusdescription {clear: both;}

legend {
     font-style: italic;
     padding: 0.3em;
     margin: 0;
}

/* Definitions */

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold; margin: 0.5em 0 0 0;}
dd {margin-left: 1.5em;}

/* Info boxes */
.admonition {
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    padding: 0;
    margin: 2em;
}

.admonition p, .admonition div {
    margin: 0;
    padding: 1em;
}

.admonition table.highlighttable { max-width: 95%; margin: 1em;}

.admonition .admonition-title {
    font-weight: bold;
    font-style: italic;
    padding: 0.5em 1em;
    border-radius: 7px 7px 0 0;
}

.admonition.info {
    border-color: #eee;
}

.admonition.info .admonition-title {
    background-color: #eee;
}

.admonition.warning {
    color: #c74451;
    border-color: #f5e0e1;
}

.admonition.warning .admonition-title {
    background-color: #f5e0e1;
}

.admonition.bginfo{
    font-size: 0.9em;
    border-color: #eee;
    color:#666;
}

.admonition.bginfo .admonition-title {
    background-color: #eee;
}
/* code */

code {font-family: monospace; background-color: #eee; padding: 0.2em 0.4em; letter-spacing: 0.1em; border-radius: 5px;}

pre {background-color:  rgb(238, 238, 238); padding: 10px; overflow: auto;}

/* Quotes */
blockquote {
    padding: 0.2em 1em;
    font-style: italic;
    border-left: 5px solid #EEE;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
/*table {margin: .5em auto 1.5em auto; width: 98%;}*/

	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}

	tbody .alt td {}
	tbody .alt th {}

	/* Tfoot */
	tfoot th {}
	tfoot td {}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/* Images */

img.right, figure.right {float: right; margin: 1em 0 1.5em 2em;}
img.left, figure.left {float: left; margin: 1em 1.5em 2em 0;}
img.center, figure.center {text-align: center;}

/*
    Header / Navigation
*************************/
#banner {
	margin: 0;
	width: 100%;
	padding-top: 40px;
}

/* Banner */

#bannercontainer {
      position: relative;
      padding-bottom: 16.82%;
      height: 0;
      overflow: hidden;
      border-bottom: 8px solid #25743d;
}

#bannerimg {
      z-index: -1;
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
}

#cornerimage {
        position: fixed;
        top: 0;
        right: 0;
        max-width: 20%;
        width: 246px;
        height: auto;
        z-index: 300;
        pointer-events: none;
}

/* Main Nav */
#banner nav {
        background: #499841;
        font-size: 1.1em;
        height: 40px;
        line-height: 30px;
        padding: 0;
        text-align: center;
        width: 100%;
        min-width: 400px;
        position: fixed;
        top: 0;
        z-index: 200;
        box-shadow: 0 5px 8px 3px rgba(0,0,0,0.3);
        border-bottom: 6px solid #55b14c;
}

#banner nav #menu_toggle, #banner nav label { display: none;}

#banner nav ul {list-style: none; margin: 0; position: relative;}
#banner nav li, #banner nav>a {float: left; display: inline; margin: 0;}

#banner nav ul li a {
        font-size: 1.3em;
        font-family: 'LavoirSmallCaps', sans-serif;
        font-style: normal;
        font-weight: normal;
}

#banner nav a.homelink {
        font-family: 'AlexBrushRegular';
        font-size: 1.8em;
        font-weight: bold;
}

#banner nav a:link, #banner nav a:visited {
        color: #fff;
        display: inline-block;
        height: 30px;
        padding: 5px 1em;
        text-decoration: none;
}
#banner nav a:hover, #banner nav a:active,
#banner nav .active a:link, #banner nav .active a:visited {
        background: #C74451;
        color: #fff;
        text-shadow: none !important;
}

#search { position: absolute; right: 15%; }

.navbar-search {
  margin: 6px 0 6px 1em;
  border-radius: 14px;
  border: none;
  box-shadow: inset 0 0 3px 2px rgba(0,0,0,0.2);
  line-height: 16px;
  background: white;
  width: 113px;
  overflow: hidden;
}

.search-query {
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0;
  padding: 0.2em 0.5em;
  border: none;
  background: transparent;
  width: 6em;
}

.search_icon {
  width: 28px;
  height: 28px;
  border: none;
  padding: 0;
  background: transparent;
  background-image: url('../images/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  border-left: 1px solid #a09999;
  cursor: pointer;
}

.search_icon:hover {
  background-position: 0 -28px;
}
/*
    Content
*****************/

.content {
    background: #fff;
    margin: 2em auto;
    overflow: hidden;
    padding: 3% 5%;
    width: 75%;
    max-width: 850px;
    clear: both;
    border-radius: 10px;
    box-shadow: 0 0 8px 3px #25743d;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {clear: both; margin-top: 0.7em; }

/* Main Item of any page */

#mainItem {
    min-height: 400px;
    position: relative;
}

#mainItem header h1, #mainItem header .poststats { margin-right: 50px;}

#mainItem figure.left {
    display: block;
    float: left;
}

#mainItem figure.right {
    display: block;
    float: right;
}

#mainItem figure img {
    border-radius: 10px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
    max-width: 100%;
}

#mainItem figure.small {
    max-width: 30%;
    min-width: 200px;
}

#mainItem figure.large {
    max-width: 90%;
    min-width: 200px;
    margin: auto;
}

#mainItem .play {
    background: url('../images/icons/play.svg') center center no-repeat;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
    z-index: 10;
    -webkit-transition:opacity 500ms ease-out;
    -moz-transition:opacity 500ms ease-out;
    -o-transition:opacity 500ms ease-out;
    transition:opacity 500ms ease-out;
}

#mainItem .playable:hover .play, #mainItem .play:hover {
    opacity: 1;
    -webkit-transition:opacity 500ms ease-out;
    -moz-transition:opacity 500ms ease-out;
    -o-transition:opacity 500ms ease-out;
    transition:opacity 500ms ease-out;
}

#mainItem ul, #mainItem ol {
        overflow: hidden;
        padding-left: 2em;
}

#mainItem .title {margin-bottom: 0.2em;}

#mainItem .title a,
#mainItem .title a:visited,
#mainItem .title a:link,
.articlePreview figcaption h1 a,
.articlePreview figcaption h1 a:visited,
.articlePreview figcaption h1 a:link{
    font-size: 1.2em;
    text-decoration: none;
    color: inherit;
}

#articlesPreview h1 a {
    text-decoration: none;
    color: inherit;
}

#mainItem .title a:hover,
.articlePreview figcaption h1 a:hover,
#articlesPreview h1 a:hover {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
    color: #C74451;
}

#mainItem h2 {color: #C74451; font-size: 1.714em; margin-bottom: 0.333em;}
#mainItem h3 {font-size: 1.429em; margin-bottom: .5em;}

#mainItem h3 a:link, #mainItem h3 a:visited {color: #000305; text-decoration: none;}
#mainItem h3 a:hover, #mainItem h3 a:active {color: #fff;}

.post-info {
    font-size: 0.9em;
    color: #666;
}

.post-info p {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.post-info .taglist { margin-bottom: 2em;}

.post-info .taglist a, .post-info .taglist a:hover, .post-info .taglist a:visited {
   color: #fff;
   padding: 0.3em;
   border-radius: 4px;
   background-color: #888;
   text-decoration: none;
   text-shadow: none;
   margin: 0.2em;
   display: inline-block;
}

.post-info .taglist a:hover {
   box-shadow: inset 0 0 5px 3px rgba(0,0,0,0.3);
}

.license {
    font-style: italic;
    color: #666;
    background: #eee;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    clear: both;
}

/* Special Inkscape Donation Box */

.supportimage, .supportimage:hover {
    display: block;
    text-decoration: none;
    background-color: transparent;
    margin: 0 15px;
}

.supportimage.left {
    float: left;
}

.prev-next {
    text-align: center;
    margin: 2em 1em 0;
    font-size: 1.2em;
    clear: both;
}
.prev-next a {
    text-decoration: none;
}
.prev-next a:hover {
    background: none;
    text-decoration: underline;
    color: #c74350;
}

/* Code examples */

.highlighttable pre, .highlight pre {
    font-size: 1.2em;
}

/* without line numbers */
.highlight pre {
    margin: 0;
    border-radius: 10px;
}

/* with line numbers */
.content .highlighttable {
    border: none;
    margin: 0;
    width: 100%;
    max-width: 100%;
    background-color: rgb(238, 238, 238);
}

.content .highlighttable td {
    padding: 0;
}

.content .highlighttable .linenos {
    font-style: italic;
    width: 3em;
}

.content .linenodiv pre {background-color: rgb(230, 230, 230);}

.content .highlighttable pre {
    margin: 0 0.5em 0 0;
    padding: 1em;
    text-align: left;
    width: auto;
}

.content .hll { background: #f8fc84;}

/* Gallery */
.gallery {
    text-align: center;
    margin: 1.5em 0;
}

.gallery a {
    display: inline-block;
    margin: 1em;
}

.gallery a:hover {
    background: none;
}

.gallery img {
    border-radius: 10px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s ease-in, color 0.2s ease-in;
}

.gallery img:hover {
     box-shadow: 0 0 8px 3px rgba(0,0,0,0.4);
}
/* List of Articles for selection */

#articlesPreview {
}

#articlecounter {
    font-size: smaller;
    text-align: right;
    color: #666;
}

#articlesList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

a.articlePreview {
    display: inline-block;
    width: 330px;
    height: 300px;
    margin: 20px 0;
    padding: 0;
    border: 4px solid #bbb;
    border-radius: 10px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
    overflow: hidden;
    color: #5c5c5c;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in, color 0.2s ease-in;
}

a.articlePreview:empty {
    height: 0;
    border: none;
    box-shadow: none;
  }

a.articlePreview:hover {
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.4);
    background: none;
    color: #000305;
}


a.articlePreview figure {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.articlePreview figure img  {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

a.articlePreview figcaption {
   position: relative;
   top: 230px;
   height: 308px;
   background-color: rgba(255, 255, 255, 0.7);
   transition: top 0.4s ease-in;
   text-align: left;
}

a.articlePreview figcaption:hover {
   top: 0px;
}

a.articlePreview figcaption h1 {
   height: 70px;
   margin: 0;
   line-height: 70px;
   text-align: center;
   background: rgba(180, 180, 180, 0.6);
   font-size: 1.3em;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   padding: 0 0.3em;
}

a.articlePreview figcaption p {
   padding: 20px;
   font-size: 1em;
}

.paginator {
    clear: both;
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
}

.paginator a, paginator a:hover {
    background-color: transparent;
    color: #c74350;
    text-decoration: none;
}

/* Simple list of articles */

.langflag {display: inline-block; width: 30px; height: 20px; vertical-align: middle;}
.langflag.de { background-image: url('../images/icons/de.svg');}
.langflag.en { background-image: url('../images/icons/en.svg');}

/* Tables in articles / in page contents */
.content table {
    display: inline-block;
    width: auto;
    max-width: 100%;
    margin: 1.5em 0;
    border-radius: 10px;
    border: 2px solid #EEE;
    border-collapse: separate;
    border-spacing: 0px;
    overflow-x: auto;
}

.content thead {
    border-color: inherit;
    border-collapse: separate;
    background-color: #eee;
}

.content th, .content td {
    padding: 1em;
    text-align: center;
    vertical-align: top;
}

.content thead:first-child tr:first-child th:first-child, .content tbody:first-child tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}

.content thead:last-child tr:last-child th:first-child, .content tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.content tr:nth-child(even) {background: #f8f8f8;}

/* Tables of Contents */
.tocarea {
    display: block;
    position: absolute;
    top: 20px;
    right: 0px;
    height: 90px;
    width: 50px;
    background: url('../images/icons/toc.svg') no-repeat right top;
}

.tocarea:hover {
    background-position: right bottom;
}

.tocarea label {
    display: block;
    margin-top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.tocarea .toc, #toc_toggle {display: none;}

.tocarea .toc {
    position: absolute;
    top: 0px;
    right: 60px;
    margin: 0.2em 0 0 1.5em;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 1em;
    min-width: 140px;
    width: 40vw;
    max-width: 80vw;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
    word-wrap: break-word;
}

#toc_toggle:checked ~ .toc {
        display: block;
        z-index: 199;
    }

.tocarea ul {list-style-type: none;}
.tocarea ul ul {list-style-type: circle;}



/* Footnotes */

.footnote-ref { position: relative; top: -0.5em; font-size: .83em;}
.footnote {color: #666; font-size: 0.9em;}

/*
  Social
***********/
/* Icons */

a.social {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

a.social:hover {
    background-color: inherit !important;
}

a.social[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.png');}
a.social[href*='gitlab.com'] {background-image: url('../images/icons/gitlab.png');}
a.social[href*='github.com'],
a.social[href*='git.io'] {background-image: url('../images/icons/github.png');}
a.social[href*='plus.google.com'] {background-image: url('../images/icons/google-plus.png');}
a.social[href*='reddit.com'] {background-image: url('../images/icons/reddit.png');}
a.social[href*='stackoverflow.com'] {background-image: url('../images/icons/stackoverflow.png');}
a.social[href*='twitter.com'] {background-image: url('../images/icons/twitter.png');}
a.social[href*='vimeo.com'] {background-image: url('../images/icons/vimeo.png');}
a.social[href*='youtube.com'] {background-image: url('../images/icons/youtube.png');}
a.social[type$='atom+xml'], a.social[type$='rss+xml'] {background-image: url('../images/icons/rss.png');}
a.social[href*='inkscape.org'] {background-image: url('../images/icons/inkscape.png');}
a.social[href*='openclipart.org'] {background-image: url('../images/icons/openclipart.png');}

/*
	About
*****************/

#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}
#about .bio {float: right; width: 500px;}


/* Tag Cloud */

.centerwrap {
    text-align: center;
}

ul.tagcloud {
    text-align: justify;
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 2em auto;
    max-width: 50%;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 150%;
}

li.tag-2 {
    font-size: 120%;
}

li.tag-3 {
    font-size: 110%;
}

li.tag-4 {
    font-size: 100%;
}

li.tag-5 {
    font-size: 90%;
}

li.tag-6 {
    font-size: 80%;
}

/*
	Footer
*****************/


#footertopborder {
    margin: 0;
    border: none;
    height: 101px;
    background-image: url("../images/decoration/grassy_border.png");
}

#pagefooter {
    text-align: center;
    background-image: url('../images/decoration/soil_pattern.png');
}

#footercontent {
    box-shadow: 0 0 8px 3px #311c10;
    display: inline-block;
    width: auto;
    max-width: 85%;
}

/* About the Author */
#about-author {
        background: #f9f9f9;
        clear: both;
        font-style: normal;
        margin: 2em 0;
        padding: 10px 20px 15px 20px;
        border-radius: 5px;
}

#about-author strong {
        color: #C64350;
        clear: both;
        display: block;
        font-size: 1.429em;
}

#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}

/* Comments */

#comments .reply {
      margin-left: 70px;
}

#comments .comment-extras {
      display: inline-block;
      float: left;
      margin: 20px;
      width: 60px;
      text-align: center;
}

#comments .avatar {
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 8px;
      box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
}

#comments button {
      display: inline-block;
      margin-top: 10px;
}

#comments .comment-texts {
      display: inline-block;
      margin: 20px;
      max-width: 65%;
}

#comments h4 { margin: 0;}
#comments hr { clear: both;}

/* Comment Form */

#commentForm {width: 100%; min-width: 250px; max-width: 650px;}

#commentForm label {clear: left; float: left; text-align: left; width: 50px; margin-bottom: 7px;}

#commentForm input[type='text'],
#commentForm input[type='email'],
#commentForm input[type='url']{float: left; width: 200px; margin-bottom: 7px;}

#commentForm textarea {float: left; height: 150px; width: 100%;}

#commentForm p {clear: both; margin: 0; padding-top: 0.5em; font-style: italic;}

#commentForm button { clear: both; float: right; } /*display: inline-block; margin: 0 0.8em;}*/
#commentForm * {margin-bottom: .5em;}

/* Book Art */

.canvaswrapper {
    max-width: 90%;
    max-height: 400px;
    overflow: auto;
    border: 1px solid #777;
    border-radius: 4px;
}
#bookartform h2 {margin-top: 0;}
#bookartform label {clear: left; float: left; text-align: left; width: 15em; margin-bottom: 7px;}
#bookartform input[type='number'],
#bookartform input[type='text'],
#bookartform input[type='radio']{float: left; width: 200px; margin-bottom: 7px;}
#bookartform button {clear: both; margin: 20px;}
#bookartform p {margin: 0; vertical-align: middle;}
#bookartform p input[type='radio'], #bookartform p label {clear: none; width: auto; margin-right: 1em;}
#bookartform div {padding: 1em; border-radius: 10px; border: 2px solid rgba(255,0,0,0); margin: 0.5em;}
#result textarea {width: 90%; min-height: 400px;}
#bookartform #img_errorbox, #bookartform #errorbox, #result {display: none;}
#result > * {margin: 1em 2em;}
#bookartform output {display: inline-block;}
#bookartform div.error {border-color: #c74451; color: #c74451;}
#bookartform .error .errormsg { clear: both; }
#bookartform #startbutton.disabled {
  color: gray;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
  cursor: default;
}

#bookartform #imageupload {display: block; float: left; margin: 0; padding: 0;}

#bookartform #imageupload canvas {
    display: block;
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;
    border-radius: 10px;
    border: 2px solid #eee;
    background-image: url('../images/bookart/bookart_background.png');
}

#bookartform #imageupload input {display: block; margin: 1em;}

.centertext {text-align: center;}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

/* Typogrify CSS */
.caps {font-size:.92em;}
/* .amp {font-size:1.05em; font-family:"Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua",serif; font-style:italic;}     */
.dquo {margin-left:-.38em;}


/* Navigation and styling for smaller screens */
@media screen and (max-width:900px) {
    #banner nav label {
      display: inline-block;
      float: left;
      width: 40px;
      height: 40px;
      background-image: url('../images/icons/menu.svg');
      background-repeat: no-repeat;
      margin-left: 0.5em;
    }

    #banner nav label:hover {
      background-position: 0 -40px;
    }

    #banner nav ul {
      display: none;
      text-align: left;
    }

    #banner nav #menu_toggle:checked ~ ul, #banner nav ul li, #banner nav ul a {
        display: block;
        clear: both;
        position: static;
        width: 100%;
        background-color: #499841;
    }

    #banner nav ul .navbar-search { margin: 0.6em 0;}

    #banner nav ul a:link, #search {
      padding-left: calc(40px + 0.5em + 2em);
    }

    #banner nav ul li { border-top: 2px solid #25743d;}

    #search { border-bottom: 8px solid #25743d;}

}

@media screen and (max-width:600px) {

  #mainItem.content figure.left, #mainItem.content figure.right {
    float: none;
    margin: 0.5em auto;
    max-width: 100%;
  }

  .admonition {
    margin: 0.5em 0;
  }
}

@media screen and (max-width: 400px) {
  .gallery a {display: block; margin: 0.5em auto;}
}
